<div class="default-padding">
  <b>§ 1 Content warning</b>
  <p>
    The free and freely accessible content of this website has been created with
    the greatest possible care. However, the provider of this website assumes no
    liability for the accuracy and timeliness of the free and freely accessible
    journalistic guides and news provided. Contributions identified by name
    reflect the opinion of the respective author and not always the opinion of
    the provider. Simply by accessing the free and freely accessible content, no
    contractual relationship is established between the user and the provider;
    in this respect, there is no intention on the part of the provider to be
    legally bound.
  </p>
  <b>§ 2 External links</b>
  <p>
    This website contains links to third-party websites ('external links').
    These websites are subject to the liability of the respective operators.
    When the external links were first created, the provider checked the
    third-party content for any legal violations. No legal violations were
    apparent at that time. The provider has no influence whatsoever on the
    current and future design and content of the linked pages. The inclusion of
    external links does not mean that the provider adopts the content behind the
    reference or link as its own. The provider cannot reasonably be expected to
    constantly monitor external links without concrete evidence of legal
    violations. However, such external links will be deleted immediately if we
    become aware of any legal violations.
  </p>
  <b>§ 3 Copyright and ancillary copyrights</b>
  <p>
    The content published on this website is subject to German copyright and
    ancillary copyright law. Any use not permitted by German copyright and
    ancillary copyright law requires the prior written consent of the provider
    or respective rights holder. This applies in particular to the duplication,
    editing, translation, storage, processing or reproduction of content in
    databases or other electronic media and systems. Third-party content and
    rights are identified as such. The unauthorized reproduction or distribution
    of individual contents or complete pages is not permitted and is punishable
    by law. Only the production of copies and downloads for personal, private
    and non-commercial use is permitted.
  </p>
  <p>
    The display of this website in external frames is only permitted with
    written permission.
  </p>
  <b>§ 4 Special terms of use</b>
  <p>
    Insofar as special conditions for individual uses of this website deviate
    from the aforementioned paragraphs, this will be expressly indicated at the
    appropriate point. In this case, the special terms of use apply in each
    individual case.
  </p>
</div>
