:root {
  --primary: #3EA37E;
  --secondary: #b8ebe1;
  --offwhite: #fbfbfb;
  --red: #b34e44;
  --backdrop: #3f4b455a;
}

html {
  overscroll-behavior: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  display: block;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  letter-spacing: 0.5px;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow-x: hidden;
  padding: 2rem;
}
