.wrapper {
  display: grid;
  align-items: end;
  margin-bottom: 2rem;

  @media screen and (max-width: 1260px) {
    grid-auto-flow: row;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }

  @media screen and (min-width: 1261px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}

.editing-side {
  display: grid;
  grid-auto-flow: row;
  textarea {
    border: 1px solid var(--primary);
    resize: none;
    padding: 20px;
    box-sizing: border-box;
  }

  .caption-wrapper {
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    grid-auto-flow: column;
  }
}

.clip-to-textarea {
  padding: 0.5rem 1rem;
  border-radius: 20px 20px 0 0;
  background-color: var(--primary);
  color: whitesmoke;
}

.preview-side {
  display: flex;
  flex-direction: column;

  .caption-wrapper {
    min-height: 70px;
  }
}

.preview {
  padding: 20px;
  -webkit-box-shadow: 11px 11px 10px -9px rgba(0, 0, 0, 0.6),
    inset 0 10px 10px -12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 11px 11px 10px -9px rgba(0, 0, 0, 0.6),
    inset 0 10px 10px -12px rgba(0, 0, 0, 0.6);
  box-shadow: 11px 11px 10px -9px rgba(0, 0, 0, 0.6),
    inset 0 10px 10px -12px rgba(0, 0, 0, 0.6);
  background-color: var(--offwhite);
  min-height: 70vh;
  border-bottom: 2px solid #fff;
}

select {
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 20px;
  border-color: var(--primary);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../../public/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 93%;
  background-size: 10%;
  &:open {
    background-color: #fff;
    border-radius: 20px;
  }
}

.headline {
  display: grid;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;

  .h2 {
    text-wrap: nowrap;
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
  }

  img {
    max-width: 170px;
    width: 20vmin;
  }

  .button-row {
    display: grid;
    grid-auto-flow: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
  }
}

.accent-text-color {
  color: var(--primary);
}

.text-center {
  text-align: center;
  display: block;
}

footer {
  padding: 2rem 0;
}

@media screen and (max-width: 460px) {
  .headline {
    justify-content: center;
    .h2 {
      text-align: center;
      font-size: 8vmin;
    }
    .button-row {
      grid-auto-flow: row;
    }
  }

  .button-row {
    grid-auto-flow: row;
  }

  .editing-side .caption-wrapper {
    grid-auto-flow: row;
    justify-content: center;
  }

  .preview-side .caption-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 756px) {
  .button-row {
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 1260px) {
  button.jump-to-button {
    display: block;
  }

  .headline {
    justify-content: center;
    .h2 {
      text-wrap: wrap;
    }

    .button-row {
      width: unset;
    }

    img {
      max-width: 170px;
      width: 25vmin;
    }
  }

  .preview-footer {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1261px) {
  button.jump-to-button {
    display: none;
  }

  .headline {
    grid-auto-flow: column;
  }
}
