.wrapper {
  display: grid;

  @media screen and (max-width: 1260px) {
    grid-auto-flow: row;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }

  @media screen and (min-width: 1261px) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}

.editing-side {
  display: grid;
  grid-auto-flow: row;
  textarea {
    border: 1px solid #44b277;
    resize: none;
    padding: 20px;
    min-height: 70vh;
  }

  .caption-wrapper {
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    grid-auto-flow: column;
  }
}

.preview-side {
  display: flex;
  flex-direction: column;

  .caption-wrapper {
    min-height: 70px;
  }
}

.preview {
  padding: 20px;
  border: 1px solid black;
  min-height: 70vh;
}

.hint-side {
  position: relative;
}

.hint-side:not(.show) {
  display: none;
}

.hint-side.show {
  display: inline;
  position: absolute;
  background-color: #b8ebe1;
  top: 0;
  right: 0;
  padding: 0 2rem 2rem 2rem;
  width: 35%;
  height: 104%;
  overflow-y: auto;

  section {
    background-color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
  }

  p {
    margin: 0;
  }

  div.pane-toggle {
    display: inline-flex;
    position: sticky;
    top: 0;
    left: 100%;
    background-color: #b8ebe1;
    padding: 0.75rem 0 0.75rem 0.75rem;
    border-radius: 20px 0 0 20px;
    color: #44b277;
    font-weight: bolder;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    &:hover {
      span,
      img {
        opacity: 0.8;
      }
    }
  }
}

summary {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

select {
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 20px;
  border-color: #44b277;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-image: url(../../public/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 93%;
  background-size: 10%;
  &:open {
    background-color: #fff;
    border-radius: 20px;
  }
}

.headline {
  display: grid;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;

  .h2 {
    text-wrap: nowrap;
  }

  .img-wrapper {
    display: flex;
    justify-content: center;
  }

  img {
    max-width: 170px;
    width: 20vmin;
  }

  .button-row {
    display: grid;
    grid-auto-flow: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
  }
}

.button-row {
  display: grid;
  grid-auto-flow: row;
  gap: 0.125rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.button {
  border: none;
  border-radius: 20px;
  background-color: #44b277;
  color: whitesmoke;
  padding: 0.5rem 2rem;
  text-wrap: nowrap;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.accent-text-color {
  color: #44b277;
}

.text-center {
  text-align: center;
  display: block;
}

@media screen and (max-width: 460px) {
  .headline {
    justify-content: center;
    .h2 {
      text-align: center;
      font-size: 8vmin;
    }
    .button-row {
      grid-auto-flow: row;
    }
  }

  .editing-side .caption-wrapper {
    grid-auto-flow: row;
    justify-content: center;
  }

  .preview-side .caption-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1260px) {
  button.jump-to-button {
    display: block;
  }

  .headline {
    justify-content: center;
    .h2 {
      text-wrap: wrap;
    }

    .button-row {
      width: unset;
    }

    img {
      max-width: 170px;
      width: 25vmin;
    }
  }

  .preview-footer {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1261px) {
  button.jump-to-button {
    display: none;
  }

  .headline {
    grid-auto-flow: column;
  }
}
