<h4>How to Use Markdown</h4>
<details>
  <summary>Heading</summary>
  <div>
    <span># Heading (h1)</span><br />
    <span>or</span><br />
    <span>Heading</span><br />
    <span>========</span>
  </div>
  <div>
    <span>## Heading (h2)</span><br />
    <span>or</span><br />
    <span>Heading</span><br />
    <span>--------</span>
  </div>

  <div>### Heading (h3)</div>
  <div>#### Heading (h4)</div>
  <div>##### Heading (h5)</div>
  <div>###### Heading (h6)</div>
</details>
<details>
  <summary>Emphasis</summary>
  <div>
    <span>**bold**</span><br />
    <span>or</span><br />
    <span>__bold__</span>
  </div>

  <div>
    <span>*italic*</span><br />
    <span>or</span><br />
    <span>_italic_</span>
  </div>

  <div>
    <span>***bold and italic***</span><br />
    <span>or</span><br />
    <span>___bold and italic___</span><br />
    <span>or</span><br />
    <span>__*bold and italic*__</span><br />
    <span>or</span><br />
    <span>**_bold and italic_**</span>
  </div>
</details>
<details>
  <summary>Blockquotes</summary>
  <div>> Simple blockquote</div>
  <div>
    <span>> Multiple Line</span><br />
    <span>></span><br />
    <span>> Blockquotes</span>
  </div>
  <div>
    <span>> Nested</span><br />
    <span>></span><br />
    <span>>> Blockquotes</span>
  </div>
  <div>
    <span>> #### Blockquotes</span><br />
    <span>></span><br />
    <span>> - with</span><br />
    <span>> - lists</span><br />
    <span>></span><br />
    <span>> and *with* other **elements**.</span>
  </div>
</details>
<details>
  <summary>Ordered Lists</summary>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>2. Ordered List Item</span><br />
    <span>3. Ordered List Item</span><br />
    <span>4. Ordered List Item</span>
  </div>
  <span class="text-center">or</span>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>1. Ordered List Item</span><br />
    <span>1. Ordered List Item</span><br />
    <span>1. Ordered List Item</span>
  </div>
  <span class="text-center">or</span>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>3. Ordered List Item</span><br />
    <span>8. Ordered List Item</span><br />
    <span>2. Ordered List Item</span>
  </div>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>2. Ordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;1. Indented List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;2. Indented List Item</span>
  </div>
</details>
<details>
  <summary>Unordered Lists</summary>
  <div>
    <span>- Unordered List Item</span><br />
    <span>- Unordered List Item</span><br />
    <span>- Unordered List Item</span><br />
    <span>- Unordered List Item</span>
  </div>
  <span class="text-center">or</span>
  <div>
    <span>+ Unordered List Item</span><br />
    <span>+ Unordered List Item</span><br />
    <span>+ Unordered List Item</span><br />
    <span>+ Unordered List Item</span>
  </div>
  <span class="text-center">or</span>
  <div>
    <span>* Unordered List Item</span><br />
    <span>* Unordered List Item</span><br />
    <span>* Unordered List Item</span><br />
    <span>* Unordered List Item</span>
  </div>
  <div>
    <span>- Unordered List Item</span><br />
    <span>- Unordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</span>
  </div>
</details>
<details>
  <summary>Mixed Lists</summary>
  <div>
    <span>- Unordered List Item</span><br />
    <span>- Unordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;1. Indented List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;2. Indented List Item</span>
  </div>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>2. Ordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</span>
  </div>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>2. Ordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;> Simple Blockquote in List</span><br />
    <span>3. Ordered List Item</span>
  </div>
  <div>
    <span>1. Ordered List Item</span><br />
    <span>2. Ordered List Item</span><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;![Image in List](logo.svg)</span><br />
    <span>3. Ordered List Item</span>
  </div>
</details>
<details>
  <summary>Code</summary>
  <div>Backticks for marking `code`.</div>
  <div>
    <span>```</span><br />
    <span>Fence codeblocks with three Backticks.</span><br />
    <span>```</span>
  </div>
  <div>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&lt;html&gt;</span><br />
    <span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;4
      Tabs&lt;\span&gt;</span
    ><br />
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&lt;\html&gt;</span>
  </div>
</details>
<details>
  <summary>Horizontal Rules</summary>
  <div>
    <span>***</span>
  </div>
  <span class="text-center">or</span>
  <div><span>---</span></div>
  <span class="text-center">or</span>
  <div>
    <span>_____________</span>
  </div>
</details>
<details>
  <summary>Links</summary>
  <div>
    <span>This is [an example](http://example.com/ "Title") inline link.</span>
  </div>
  <div>
    <span>[This link](http://example.net/) has no title attribute.</span>
  </div>
  <div>
    <span>Referencing a [Local Source](/local-source/).</span>
  </div>
  <div><span>This is [an example] [id] reference-style link.</span></div>
  <span class="text-center">combined with</span>
  <div><span>[id]: http://example.com/ "Optional Title Here"</span></div>
  <div>
    <span> &lt;http://automatic-link.com/&gt;</span>
  </div>
</details>
<details>
  <summary>Images</summary>
  <div>
    <span>![Image alt text](/path/to/img.jpg)</span>
  </div>
  <div><span>![Image alt text][id]</span></div>
  <span class="text-center">combined with reference to "id"</span>
  <div><span>[id]: url/to/image "Optional title attribute"</span></div>
</details>
<details>
  <summary>Backslash Escapes</summary>
  <div>
    <span>\*literal asterisks\*</span>
  </div>
  <span class="text-center">Use them for</span>
  <div>
    <span>\ backslash</span><br />
    <span>` backtick</span><br />
    <span>* asterisk</span><br />
    <span>_ underscore</span><br />
    <span>{{ "{" }} {{ "}" }} curly braces</span><br />
    <span>[] square brackets</span><br />
    <span>() parentheses</span><br />
    <span># hash mark</span><br />
    <span>+ plus sign</span><br />
    <span>- minus sign (hyphen)</span><br />
    <span>. dot</span><br />
    <span>! exclamation mark</span><br />
  </div>
</details>
