<h4>How to Use Markdown</h4>

<details name="hint" #headingDetails class="hint-heading">
  <summary (click)="flipChevron(heading, headingDetails)">
    <b class="chevron" #heading>&#8963;</b>
    <h5>Heading</h5>
  </summary>
  <section>
    <p># Heading (h1)</p>
    <p>or</p>
    <p>Heading</p>
    <p>========</p>
  </section>
  <section>
    <p>## Heading (h2)</p>
    <p>or</p>
    <p>Heading</p>
    <p>--------</p>
  </section>

  <section>### Heading (h3)</section>
  <section>#### Heading (h4)</section>
  <section>##### Heading (h5)</section>
  <section>###### Heading (h5)</section>
</details>

<details name="hint" #emphasisDetails class="hint-emphasis">
  <summary (click)="flipChevron(emphasis, emphasisDetails)">
    <b class="chevron" #emphasis>&#8963;</b>
    <h5>Emphasis</h5>
  </summary>
  <section>
    <p>**bold**</p>
    <p>or</p>
    <p>__bold__</p>
  </section>

  <section>
    <p>*italic*</p>
    <p>or</p>
    <p>_italic_</p>
  </section>

  <section>
    <p>***bold and italic***</p>
    <p>or</p>
    <p>___bold and italic___</p>
    <p>or</p>
    <p>__*bold and italic*__</p>
    <p>or</p>
    <p>**_bold and italic_**</p>
  </section>
</details>

<details name="hint" #bqDetails class="hint-blockquotes">
  <summary (click)="flipChevron(bq, bqDetails)">
    <b class="chevron" #bq>&#8963;</b>
    <h5>Blockquotes</h5>
  </summary>
  <section>> Simple blockquote</section>
  <section>
    <p>> Multiple Line</p>
    <p>></p>
    <p>> Blockquotes</p>
  </section>
  <section>
    <p>> Nested</p>
    <p>></p>
    <p>>> Blockquotes</p>
  </section>
  <section>
    <p>> #### Blockquotes</p>
    <p>></p>
    <p>> - with</p>
    <p>> - lists</p>
    <p>></p>
    <p>> and *with* other **elements**.</p>
  </section>
</details>

<details name="hint" #olDetails class="hint-ordered_lists">
  <summary (click)="flipChevron(ol, olDetails)">
    <b class="chevron" #ol>&#8963;</b>
    <h5>Ordered Lists</h5>
  </summary>
  <section>
    <p>1. Ordered List Item</p>
    <p>2. Ordered List Item</p>
    <p>3. Ordered List Item</p>
    <p>4. Ordered List Item</p>
  </section>
  <p class="text-center">or</p>
  <section>
    <p>1. Ordered List Item</p>
    <p>1. Ordered List Item</p>
    <p>1. Ordered List Item</p>
    <p>1. Ordered List Item</p>
  </section>
  <p class="text-center">or</p>
  <section>
    <p>1. Ordered List Item</p>
    <p>3. Ordered List Item</p>
    <p>8. Ordered List Item</p>
    <p>2. Ordered List Item</p>
  </section>
  <section>
    <p>1. Ordered List Item</p>
    <p>2. Ordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Indented List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Indented List Item</p>
  </section>
</details>

<details name="hint" #ulDetails class="hint-unordered_lists">
  <summary (click)="flipChevron(ul, ulDetails)">
    <b class="chevron" #ul>&#8963;</b>
    <h5>Unordered Lists</h5>
  </summary>
  <section>
    <p>- Unordered List Item</p>
    <p>- Unordered List Item</p>
    <p>- Unordered List Item</p>
    <p>- Unordered List Item</p>
  </section>
  <p class="text-center">or</p>
  <section>
    <p>+ Unordered List Item</p>
    <p>+ Unordered List Item</p>
    <p>+ Unordered List Item</p>
    <p>+ Unordered List Item</p>
  </section>
  <p class="text-center">or</p>
  <section>
    <p>* Unordered List Item</p>
    <p>* Unordered List Item</p>
    <p>* Unordered List Item</p>
    <p>* Unordered List Item</p>
  </section>
  <section>
    <p>- Unordered List Item</p>
    <p>- Unordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</p>
  </section>
</details>

<details name="hint" #mlDetails class="hint-mixed_lists">
  <summary (click)="flipChevron(ml, mlDetails)">
    <b class="chevron" #ml>&#8963;</b>
    <h5>Mixed Lists</h5>
  </summary>
  <section>
    <p>- Unordered List Item</p>
    <p>- Unordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;1. Indented List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;2. Indented List Item</p>
  </section>
  <section>
    <p>1. Ordered List Item</p>
    <p>2. Ordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;- Indented List Item</p>
  </section>
  <section>
    <p>1. Ordered List Item</p>
    <p>2. Ordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;> Simple Blockquote in List</p>
    <p>3. Ordered List Item</p>
  </section>
  <section>
    <p>1. Ordered List Item</p>
    <p>2. Ordered List Item</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;![Image in List](logo.svg)</p>
    <p>3. Ordered List Item</p>
  </section>
</details>

<details name="hint" #codeDetails class="hint-code">
  <summary (click)="flipChevron(code, codeDetails)">
    <b class="chevron" #code>&#8963;</b>
    <h5>Code</h5>
  </summary>
  <section>Backticks for marking `code`.</section>
  <section>
    <p>```</p>
    <p>Fence codeblocks with three Backticks.</p>
    <p>```</p>
  </section>
  <section>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;html&gt;</p>
    <span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;span&gt;4
      Tabs&lt;\span&gt;</span
    >
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&lt;\html&gt;</p>
  </section>
</details>

<details name="hint" #hrDetails class="hint-horizontal_rules">
  <summary (click)="flipChevron(hr, hrDetails)">
    <b class="chevron" #hr>&#8963;</b>
    <h5>Horizontal Rulers</h5>
  </summary>
  <section>
    <p>***</p>
  </section>
  <p class="text-center">or</p>
  <section><p>---</p></section>
  <p class="text-center">or</p>
  <section>
    <p>_____________</p>
  </section>
</details>

<details name="hint" #linksDetails class="hint-links">
  <summary (click)="flipChevron(links, linksDetails)">
    <b class="chevron" #links>&#8963;</b>
    <h5>Links</h5>
  </summary>
  <section>
    <p>This is [an example](http://example.com/ "Title") inline link.</p>
  </section>
  <section>
    <p>[This link](http://example.net/) has no title attribute.</p>
  </section>
  <section>
    <p>Referencing a [Local Source](/local-source/).</p>
  </section>
  <section><p>This is [an example] [id] reference-style link.</p></section>
  <p class="text-center">combined with</p>
  <section><p>[id]: http://example.com/ "Optional Title Here"</p></section>
  <section>
    <p>&lt;http://automatic-link.com/&gt;</p>
  </section>
</details>

<details name="hint" #imagesDetails class="hint-images">
  <summary (click)="flipChevron(images, imagesDetails)">
    <b class="chevron" #images>&#8963;</b>
    <h5>Images</h5>
  </summary>
  <section>
    <p>![Image alt text](/path/to/img.jpg)</p>
  </section>
  <section><p>![Image alt text][id]</p></section>
  <p class="text-center">combined with reference to "id"</p>
  <section><p>[id]: url/to/image "Optional title attribute"</p></section>
</details>

<details name="hint" #beDetails class="hint-backslash_escapes">
  <summary (click)="flipChevron(be, beDetails)">
    <b class="chevron" #be>&#8963;</b>
    <h5>Backslash Escapes</h5>
  </summary>
  <section>
    <p>\*literal asterisks\*</p>
  </section>
  <p class="text-center">Use them for</p>
  <section>
    <p>\ backslash</p>
    <p>` backtick</p>
    <p>* asterisk</p>
    <p>_ underscore</p>
    <p>{{ "{" }} {{ "}" }} curly braces</p>
    <p>[] square brackets</p>
    <p>() parentheses</p>
    <p># hash mark</p>
    <p>+ plus sign</p>
    <p>- minus sign (hyphen)</p>
    <p>. dot</p>
    <p>! exclamation mark</p>
  </section>
</details>
