<header class="headline">
  <div class="img-wrapper">
    <img width="10%" src="logo.svg" alt="Logo" />
  </div>
  <h2 class="h2">Simple Markdown Preview</h2>
  <div class="button-row">
    <label for="sessions"></label>
    <select [formControl]="sessionSelect" id="sessions">
      @for (item of sessionList; track $index) {
      <option [value]="item" [selected]="$index === selectedIndex">
        Session {{ $index + 1 }}
      </option>
      }
    </select>
    <button class="button button-text" (click)="triggerNewSession()">
      New Session
    </button>
    <button class="button-secondary button-text" (click)="toggle()">
      Cheat Sheet
    </button>
  </div>
</header>

<section>
  @if (isMac && !isMobile) {
  <p>
    Use <kbd>⌘</kbd> (Cmd) + <kbd>↓</kbd> to get to the end of the page and
    <kbd>⌘</kbd> (Cmd) + <kbd>↑</kbd> to get to the top of the page.
  </p>
  } @if (!isMac && !isMobile) {
  <p>
    Use <kbd>Ctrl</kbd> + <kbd>↓</kbd> to get to the end of the page and
    <kbd>Ctrl</kbd> + <kbd>↑</kbd> to get to the top of the page.
  </p>
  }
  <p>
    Sessions are only stored in your browser and not processed somewhere else.
    If you delete your browser cache, all your previous sessions will be gone
    forever.
  </p>
</section>

<hr />

<div class="wrapper">
  <section class="editing-side" id="editingSide">
    <div [class]="isMobile ? 'button-row-editing' : 'button-row'">
      <button class="button button-text" (click)="copy()">
        Copy@if(!isMobile) { Markdown}
      </button>
      <button class="button-danger button-text" (click)="clear()">
        Clear@if(!isMobile) { Markdown}
      </button>
      @if (!isMobile) {
      <button
        (click)="scrollToAnchor('previewSide')"
        class="jump-to-button button-secondary button-text"
      >
        Jump to Preview
      </button>
      }
    </div>
    <label for="editing-textarea" class="clip-to-textarea">Write your markdown here</label>
    <textarea
      id="editing-textarea"
      [formControl]="userInput"
      rows="10"
    ></textarea>
  </section>
  <section class="preview-side" id="previewSide">
    <span class="clip-to-textarea">Here is your preview</span>
    <span class="preview" [innerHTML]="preview"></span>
    <div class="preview-footer">
      @if (!isMobile) {
      <button
        (click)="scrollToAnchor('editingSide')"
        class="jump-to-button button button-text"
      >
        Jump to Editing
      </button>
      }
    </div>
  </section>
</div>

<aside class="hint-side" #hintSide>
  <div class="pane-toggle" (click)="toggle()">
    <img src="pane-close.svg" alt="Closing Pane Icon" /><span> Collapse</span>
  </div>
  <app-hints></app-hints>
</aside>

<hr />

<footer class="button-row">
  @for (item of footerElements; track $index) {
  <button
    class="button-text"
    [class]="$index !== Actions.coffee ? 'button-secondary' : 'button'"
    (click)="chooseAction($index)"
  >
    {{ item }}
  </button>
  }
</footer>

<dialog #imprintModal>
  <div class="dialog-headline">
    <h1>Imprint</h1>
    <button class="icon-button" (click)="chooseAction(Actions.imprint)">
      &#10006;
    </button>
  </div>
  <app-imprint></app-imprint>
</dialog>

<dialog #legalModal>
  <div class="dialog-headline">
    <h1>Legal Notice</h1>
    <button class="icon-button" (click)="chooseAction(Actions.legalNotice)">
      &#10006;
    </button>
  </div>
  <app-legal></app-legal>
</dialog>

@if (isMobile) {
<button (click)="scrollToAnchor('editingSide')" class="floating-button up">
  &#8963;
</button>
<button (click)="scrollToAnchor('previewSide')" class="floating-button down">
  &#8963;
</button>
}
