<div class="headline">
  <img width="10%" src="logo.svg" alt="Logo" />
  <h2>Simple Markdown Previewer</h2>
</div>

<form [formGroup]="form">
  <div class="wrapper">
    <div class="editing-side">
      <span class="caption">Write your markdown here</span>
      <textarea
        id="editing-textarea"
        formControlName="editing"
        rows="10"
      ></textarea>
    </div>
    <div class="preview-side" #preview>
      <span class="caption">Here is your preview</span>
      <span [innerHTML]="preview"></span>
    </div>
  </div>
</form>

<div class="hint-side"></div>
