<div class="headline">
  <img width="10%" src="logo.svg" alt="Logo" />
  <h2 class="h2">Simple Markdown Previewer</h2>
  <div class="button-row">
    <span class="button" (click)="triggerNewSession()">New Session</span>
    <span class="button" (click)="toggle()">Show Hints</span>
  </div>
</div>

<div class="shortcut-hint">
  @if (isMac) {
  <span
    >Use ⌘ (Cmd) + ↓ to get to the end of the page and ⌘ (Cmd) + ↑ to
    get to the top of the page.</span
  >
  } @else {
  <span
    >Use Ctrl + ↓ to get to the end of the page and Ctrl + ↑ to
    get to the top of the page.</span
  >

  }
</div>

<form [formGroup]="form">
  <div class="wrapper">
    <div class="editing-side" id="editingSide">
      <div class="caption-wrapper">
        <span class="caption">Write your markdown here</span>
        <button
          (click)="scrollToAnchor('previewSide')"
          class="jump-to-button button button-text"
        >
          Jump to Preview
        </button>
      </div>
      <textarea
        id="editing-textarea"
        formControlName="editing"
        rows="10"
      ></textarea>
    </div>
    <div class="preview-side" id="previewSide">
      <span class="caption">Here is your preview</span>
      <span class="preview" [innerHTML]="preview"></span>
      <div class="preview-footer">
        <button
          (click)="scrollToAnchor('editingSide')"
          class="jump-to-button button button-text"
        >
          Jump to Editing
        </button>
      </div>
    </div>
  </div>
</form>

<aside class="hint-side" #hintSide>
  <div class="pane-toggle" (click)="toggle()">
    <img src="pane-close.svg" alt="Closing Pane Icon" /><span>
      Close hints pane</span
    >
  </div>
  <app-hints></app-hints>
</aside>
